{% extends 'base.html.twig' %}

{% form_theme formDeclaration 'bootstrap_4_layout.html.twig' %}

{% block body %}

<br><h1>
{% if editMode %}
    Modifier une déclaration
{% else %}
    Déclarer une zone infectée
{% endif %}
</h1><br>

{{ form_start(formDeclaration) }}

{{ form_row(formDeclaration.nameArea) }}
{{ form_row(formDeclaration.nameOre) }}
{{ form_row(formDeclaration.quantityOre) }}
{{ form_row(formDeclaration.basicDanger)}}

<button type="submit" class="btn btn-success">
{% if editMode %}
    Enregistrer les modifications
{% else %}
    Ajouter la déclaration
{% endif %}
</button>

{{ form_end(formDeclaration) }}

{% endblock %}