{% extends 'base.html.twig' %}

{% block title %}Hello EpidemicController!{% endblock %}

{% block body %}

    <br><h1>Liste des zones infectées</h1>

<table class="table">
        <thead>
            <tr>
                <th>Nom de la zone</th>
                <th>Nom du minerai</th>
                <th>Quantité de minerai</th>
                <th>Dangerosité de base</th>
                <th>Dangerosité effective</th>
                <th>Date de la déclaration</th>
            </tr>
        </thead>
        <tbody>
            <section class="epidemic">
                {% for declaration in declarations %}
                    <tr>
                        <td>{{ declaration.nameArea }}</td>
                        <td>{{ declaration.nameOre }}</td>
                        <td>{{ declaration.quantityOre }}</td>
                        <td>{{ declaration.basicDanger }}</td>
                        <td>{{ declaration.quantityOre + declaration.basicDanger }}</td>
                        <td>{{ declaration.createdAt | date('d/m/Y') }}</td>
                        <td>
                            <a href="{{ path('epidemic_edit', {'id': declaration.id}) }}" class="btn btn-secondary btn-sm">Modifier</a>
                        </td>
                    </tr>
                {% endfor %}
            </section>
        </tbody>

{% endblock %}
