{% extends 'base.html.twig' %}

{% block body %}

<div class="bg-light p-3">
    <h1>Votre déclaration a bien été enregistrée.</h1>
    <br><br>
    <h2>Récapitulatif de votre déclaration :</h2>
</div>

<table class="table">
        <thead>
            <tr>
                <th>Nom de la zone</th>
                <th>Nom du minerai</th>
                <th>Quantité de minerai</th>
                <th>Dangerosité de base</th>
                <th>Dangerosité effective</th>
                <th>Date de la déclaration</th>
            </tr>
        </thead>
        <tbody>
            <section class="epidemic">
                    <tr>
                        <td>{{ declaration.nameArea }}</td>
                        <td>{{ declaration.nameOre }}</td>
                        <td>{{ declaration.quantityOre }}</td>
                        <td>{{ declaration.basicDanger }}</td>
                        <td>{{ declaration.quantityOre + declaration.basicDanger }}</td>
                        <td>{{ declaration.createdAt | date('d/m/Y') }}</td>
                    </tr>
            </section>
        </tbody>

{% endblock %}